<!DOCTYPE html>
<html>
<head>
    <title>Delete Post</title>
</head>
<body>
    <h2>Delete Post</h2>
    <h2>Are you sure you want to delete this post?</h2>
    <p><strong>{{ post.author.username }}</strong></p> {% if post.been_edited %} <span> edited </span> {% endif %}
    <p>{{ post.post_text }} <a href="{% url 'edit_post' post.id %}">edit</a></p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
        <a href="{% url 'post_detail' post.id %}">Cancel</a>
    </form>
    
    <form method="post" action="{% url 'logout_user' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>
