<!DOCTYPE html>
<html>
<head>
    <title>Posts Feed</title>
</head>
<body>
    <h1>Feed</h1>
    <hr>
    {% if user.is_authenticated %}
        <h1>Hello, dear {{ user.username }}!</h1>
        
        <form method="post" action="{% url 'logout_user' %}">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <a href="{% url 'login_user' %}">Log In</a><br>
    {% endif %}    
    
    <a href="{% url 'create_post' %}">Create a Post</a>

    {% for post in posts %}
        <div>
            <h3>{{ post.author.username }}</h3>
            <a href="{% url 'post_detail' post.id %}">Created at: {{ post.created_at }}</a>
            <p>{{ post.post_text }}</p>
            <p>Likes: {{ post.likes.count }}</p>
        </div>
        <hr>
    {% empty %}
        <p>No Posts yet.</p>
    {% endfor %}
</body>
</html>