<!DOCTYPE html>
<html>
<head>
    <title>Posts Feed</title>
</head>
<body>
    <h1>Feed</h1>
    {% if user.is_authenticated %}
        <h1>Hello, dear {{ user.username }}!</h1>
        
        <form method="post" action="{% url 'logout_user' %}">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <a href="{% url 'login_user' %}">Log In</a><br>
    {% endif %}    
    
    <a href="{% url 'create_post' %}">Create a Post</a>
    <hr>

    {% for item in publishable_posts %}
        <div>
            <h3>{{ item.post.author.username }}</h3> {% if item.post.been_edited %} <span> <i> edited </i> </span> {% endif %}
            <a href="{% url 'post_detail' item.post.id %}">Created at: {{ item.post.created_at }}</a>
            <p>{{ item.post.post_text }} {% if item.is_editable %} <a href="{% url 'post_detail' item.post.id %}">edit</a> {% endif %} </p> 
            <p>Likes: {{ item.post.likes.count }}</p>
        </div>
        <hr>
    {% empty %}
        <p>No Posts yet.</p>
    {% endfor %}
</body>
</html>